/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* #Site Styles
================================================== */

.clickable {
	cursor:pointer;
}

/* #Page Styles
================================================== */

body {
	background:url('/static/images/stardust.png') 0px 0px repeat;
	padding-top: 15px;
}

header {
	text-align:center;
}
	header img{
		width:300px;
		height: auto;
	}
	header span {
		color:white;
		font-size: 130%;
	}
	header a, header a:visited {
		color:white;
	}

#imageContainer {
}
	#imageContainer .image{
		position:relative;
		margin-top: 10px;
	}
		#imageContainer .image a{
			position:relative;
			display:block;
			z-index: 1;
			
		}
			#imageContainer .image a img {
				width:100%;
				height: auto;
				padding: 5px;
				background-color:#E8E8E8;
				border:solid 1px black;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				vertical-align:top;
			}
		#imageContainer .image > div {
			display:none;
			position:absolute;
			bottom:0px;
			left:0px;
			z-index: 2;
			height: 100%;
			width: 100%;
		}
		#imageContainer .image:hover > div {
			display:block;
			overflow:hidden;
		}
			#imageContainer .image > div div {
				position:absolute;
				z-index: 3;
				height: 100%;
				width: 100%;
				opacity: .8;
				background-color: #000000;
			}
			#imageContainer .image > div > span {
				position:relative;
				z-index: 4;
				display:block;
			}
			#imageContainer .image > div > .caption {
				color:white;
				padding: 10px 0px 0px 10px;
			}
			#imageContainer .image > div > .timestamp {
				color:white;
				font-size:90%;
				font-style:italic;
				position:absolute; 
				bottom: 0px;
				right: 10px;
			}
			#imageContainer .image > div > a {
				position:relative;
				z-index: 4;
				color:white;
				padding: 5px 0px 0px 10px;
			}
#buttonWrapper{
	text-align:center;
	margin-top: 15px;
}
	#buttonWrapper button {
		font-size:180%;
	}
footer {
	text-align:center;
}
	footer span, footer a, footer a:visited {
		color:white;
		display:inline-block;
		font-weight:bold;
		padding: 5px 0px 5px 0px;
	}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}

