<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Downtown Mobtown</title>
		<link href="/static/css/base.css" type="text/css" rel="stylesheet" />
		<link href="/static/css/skeleton.css" type="text/css" rel="stylesheet" />
		<link href="/static/css/layout.css" type="text/css" rel="stylesheet" />
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		
		<header class="container">
			<img src='/static/images/logo.png' />
			<div class="clear"></div>
			<span>A live <a href="http://www.instagram.com" target="_blank">Instagram</a> feed from downtown Mobile, Alabama.</span>
		</header>
		<section id="imageContainer" class="container">
			
			{% for image in images %}
				<div class="image one-third column">
					<a href="{{image.linkURL}}" target="_blank">
						<img src='{{image.thumbnailURL}}' />
					</a>
					<div>
						<div></div>
						<span class="timestamp">{{image.timeCreated}}</span>
						<span class="caption">{{image.captionText}}</span>
						<a href="{{image.linkURL}}" target="_blank">View on Instagram</a>
					</div>
				</div>
			{% endfor %}
			
		</section>
		<div class="container">
			<div id="buttonWrapper" class="sixteen columns">
				<button>Show me more!</button>
			</div>
		</div>
		<footer class="container">
			<span>Made by <a href="http://www.twitter.com/mirthquakes" target="_blank">@mirthquakes</a> </span>
		</footer>
		
		<script id="template_image" type="text/template">
			<div class="image one-third column">
				<a href="{{linkURL}}" target="_blank">
					<img src='{{thumbnailURL}}' />
				</a>
				<div>
					<div></div>
					<span class="timestamp">{{timeCreated}}</span>
					<span class="caption">{{captionText}}</span>
					<a href="{{linkURL}}" target="_blank">View on Instagram</a>
				</div>
			</div>
		</script>
		<script src="/static/js/mustache.js"></script>
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/app.js"></script>
	</body>
</html>